body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: monospace;
}

.ocr-form {
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
}

.ocr-form:has(img[src=""]) {
  grid-template-columns: 1fr;
}

@media (max-width: 800px) {
    .ocr-form {
      grid-template-columns: 1fr;
    }
}

label[for="doc"]:has(img[src=""]) {
  min-height: 300px;
  position: relative;
  cursor: pointer;
}

label[for="doc"]:has(img[src=""])::after {
  position: absolute;
  content: "Upload a file";
  font-family: monospace;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

label[for="doc"] {
  display: block;
  width: 100%;
  background-color: white;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 24px 0 rgba(0,0,0,.3);
}

label[for="doc"] input {
  display: none;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container:has(p) img {
  filter: grayscale(1) opacity(.5);
}

.img-container p {
  position: absolute;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
  align-content: center;
  text-align: center;
  transition: .3s;
}

.img-preview {
  width: 100%;
}

textarea {
  --padding: 1rem;
  display: block;
  min-height: 30vh;
  height: calc(100% - (var(--padding) * 2));
  min-width: 40vw;
  resize: vertical;
  padding: var(--padding);
  border-radius: 12px;
}

textarea:empty {
  display: none;
}